.expenses-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.expenses-filter__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  label {
    font-weight: bold;
    margin: 0 0.5rem;
    color: white;
  }
  select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    option {
      color: red;
    }
    &:hover {
      background-color: #e6e6e6;
    }
  }
}
